.ct-series-a .ct-bar, .color-a{
	stroke: #98ca34;
	background-color: #98ca34;
}
.ct-series-b .ct-bar, .color-b{
	stroke: #9c4bdb;
	background-color: #9c4bdb;
}
.ct-series-c .ct-bar, .color-c{
	stroke: #58cf41;
	background-color: #58cf41;
}
.ct-series-d .ct-bar, .color-d{
	stroke: #d04db9;
	background-color: #d04db9;
}
.ct-series-e .ct-bar, .color-e{
	stroke: #6eb03d;
	background-color: #6eb03d;
}
.ct-series-f .ct-bar, .color-f{
	stroke: #7070e2;
	background-color: #7070e2;
}
.ct-series-g .ct-bar, .color-g{
	stroke: #d7c125;
	background-color: #d7c125;
}
.ct-series-h .ct-bar, .color-h{
	stroke: #54308d;
	background-color: #54308d;
}
.ct-series-i .ct-bar, .color-i{
	stroke: #57bf67;
	background-color: #57bf67;
}
.ct-series-j .ct-bar, .color-j{
	stroke: #ab4c7f;
	background-color: #ab4c7f;
}
.ct-series-k .ct-bar, .color-k{
	stroke: #49bd8c;
	background-color: #49bd8c;
}
.ct-series-l .ct-bar, .color-l{
	stroke: #6d82d1;
	background-color: #6d82d1;
}
.ct-series-m .ct-bar, .color-m{
	stroke: #db8c21;
	background-color: #db8c21;
}
.ct-series-n .ct-bar, .color-n{
	stroke: #53a4ca;
	background-color: #53a4ca;
}
.ct-series-o .ct-bar, .color-o{
	stroke: #c0ae38;
	background-color: #c0ae38;
}
.ct-series-p .ct-bar, .color-p{
	stroke: #a37fba;
	background-color: #a37fba;
}
.ct-series-q .ct-bar, .color-q{
	stroke: #a7a140;
	background-color: #a7a140;
}
.ct-series-r .ct-bar, .color-r{
	stroke: #4eb09e;
	background-color: #4eb09e;
}
.ct-series-s .ct-bar, .color-s{
	stroke: #c48034;
	background-color: #c48034;
}
.ct-series-t .ct-bar, .color-t{
	stroke: #396927;
	background-color: #396927;
}
.ct-series-u .ct-bar, .color-u{
	stroke: #cb9c5c;
	background-color: #cb9c5c;
}
.ct-series-v .ct-bar, .color-v{
	stroke: #82ad76;
	background-color: #82ad76;
}
.ct-series-w .ct-bar, .color-w{
	stroke: #7e601e;
	background-color: #7e601e;
}
.ct-series-x .ct-bar, .color-x{
	stroke: #97ad5a;
	background-color: #97ad5a;
}
.ct-series-y .ct-bar, .color-y{
	stroke: #5d5626;
	background-color: #5d5626;
}
.ct-series-z .ct-bar, .color-z{
	stroke: #c1ab77;
	background-color: #c1ab77;
}
