/*
 *stuff that I used for the overlay   
 */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* When you mouse over the navigation links, change their color */
.sidenav tbody>tr:hover {
	/*background-color: #cecd72 !important;*/
    /*color: #f1f1f1;*/
   color:black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 30px;}
    .sidenav a {font-size: 18px;}
}*/

/*some stuff for the task bar table itself*/
#tasksBar {
	/*background-color: #74AFAD;*/
	font-family: PT-Sans;
	font-size: 1.2em;
}

#btn-addTask {
	/*float: right;*/
}

#addTaskRow {
	font-weight: normal;
	font-size: x-large;
	padding-left: 20px;
}


span.taskName {
	display: block;
	font-size: 1.3em;
	padding-left: 2%;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

.small-spacing {
	line-height: 90%;
	padding-left: 4%;
}

td.info {
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: nowrap;
	width: 80%;
	max-width: 20px;
	overflow-x: hidden;
	background-color: transparent !important;
}

#addTasksDialog {
	display: none;
}

.removeTaskBtn {
	margin-bottom: 25%;
}

.checkTaskBtn {
	padding-bottom: 25%;
}

/*
 * 
 * to make the table scroll correctly and stuff
 * 
 * */
#tasksTable {
	display: table;
	width: 100%;
}
#tasksTable thead, #tasksTable tbody {
	float: left;
	width: 100%;
}

#tasksTable tbody {
	overflow: auto;
}

#tasksTable tr {
	width: 100%;
	display: table;
	text-align: left;
}


/*makes it so that the scroller doesn't appear*/
tbody::-webkit-scrollbar { 
    display: none; 
}

.task-input {
	display: none;
}

#showMore {
	margin-top: 2%;
}

#resetPasswordInfo > .modal-content{
	width: 50% ;
}

#changePasswordLink {
	color: white;
}

@media (max-width: 600px){
	#resetPasswordInfo > .modal-content{
		width: 80%;
	}	
}



.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}