body {
	/*background-color: #75bad1;*/
	/*background-color: #6d78ce !important;*/
	background-color: #337099 !important;
	height: 90vh;
	width: 90vw;
}

/*stuff to do with the main section*/
#topButtons .rightButtons {
	left: 40%;		
}

#mainSection {
	height: 100%;
}

#tasksChart {
	min-width: 150px;
	min-height: 100px;
	max-width: 75%;
	max-height: 75%;
}

/*Stuff to do with tasksBar*/
#tasksBar {
    display:none;
    height: 100vh;
    background-color: grey;
}

#tasksTable tr {
	font-size: 0.8em;
}

#btn-addTask {
	float: right;
}

.task-input{
	display:none;
}

#addTasksDialog {
	display:none;
}
