body {
	/*background-color: #75bad1;*/
	background-color: #6d78ce;
}

div.container {
	
    width: 90vw;
    height: 90vh;
    border: 1px solid gray;
}

#topButtons .rightButtons {
	left: 40%;		
}


#mainSection {
	
}

#tasksChart {
	min-width: 150px;
	min-height: 100px;
	max-width: 75%;
	max-height: 75%;
}

#tasksBar {
    display:none;
}

