.mainButton {
	border-radius: 10px;
	background-color: yellow;
}

.icon-bar {
	background-color: white;
}


#legendContent {
	background-color: #74AFAD;
	box-shadow: 10px 10px 5px grey;
}

.navbar-toggle {
	border-color: white;
}

body {
	background-color: #ECECEA !important;
}

/*stuff to do with the main section*/
#topButtons .rightButtons {
	left: 40%;
}

#mainSection {
}

#tasksChart {
}

/*Stuff to do with tasksBar*/
.ct-label {
	fill: rgba(0,0,0,.6);
	color: rgba(0,0,0,.6);
	font-size: 1.5 rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo {
	width: 125px;
}

#navContainer {
	margin-bottom: 0px;
}

.chartDialogValues {
	font-weight: bold;
}

#chart_controls {
	float: right;
    z-index: 1000;
    position: relative; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
